{% extends "main.html" %}

{% block content %}
<div id="pag">
    <header>
        <h1>Lista de Compras</h1>
        <a href="/cad-pag">Novo Pagamento</a>
    </header>
    <main id="card">
            {% for pagamento in pagamentos %}
                <div id="pagamentos">
                    <div>
                        <p>Nome: {{pagamento.nome}} </p>
                        <p> Valor: {{pagamento.valor}} </p>
                        <p> Data: {{pagamento.createdAt | date("D MMM") }} </p>
                    </div>
                    
                    <a href="del-pag/{{pagamento.id}} "><button>Efetivado</button></a> 
                </div>
        
            {% endfor %}
    </main>
</div>
{% endblock %}