* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: url(fundo.jpg);
  background-size: cover;
}

body, ul, li, p {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 1.2rem;
  font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;

}


div#form,
div#pag {
  width: 70%;
  max-width: 800px;
  background-color: #81011f49;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px 10px;
  box-sizing: border-box;
  border-radius: 8px;
  
  text-align: center;
  box-shadow: 0 0 20px #c5c5c5;
  align-content: flex-start;
  justify-content: right;
}

div header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));  

  padding: 28px;
}

div h1 {
  margin-top: 0;
  font-size: 2rem;
  text-align: left;
  color: aliceblue;
}

div a {
  margin-top: 0;

  font-size: 1.6rem;
  color: white;
  text-decoration: none;  
  text-align: right;
}

label {
  font-size: 1.6rem;
  color: aliceblue;

  display: block;
}

label input {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid gray;
}

/*lista de pagamentos*/
main#card {
  display: block;
}

main div#pagamentos {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  text-align: left;
  background-color: whitesmoke;
  border-radius: 6px;
  border: none;

  justify-content: space-between;
}

main div#pagamentos div {
  display: flex;
}

p {
  font-size: 1.6rem;
  color: black;
  
  margin: 10px;
}



button {
  width: 80px;
  height: 20px;

  margin: 10px 10px;
  background-color: rgba(22, 65, 60);

  border: none;
  border-radius: 4px;

  color:whitesmoke;
  font-weight: 700;
  font-size: 1.2rem;
  text-decoration: none;

  cursor: pointer;
}


@media (max-width: 700px) {

  html {
    font-size: 50%;
  }


  div header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div header a {
    order: -1;
    margin-bottom: 12px;
  }

  div header h1 {
    text-align: center;
  }


  main div#pagamentos {
    align-items: center;
    justify-content: center;

}