* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: url(fundo.jpg);
  background-size: cover;
}

div#form,
div#pag {
  width: 40%;
  max-width: 800px;
  background-color: #81011f49;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px 10px;
  box-sizing: border-box;
  border-radius: 8px;
  
  text-align: center;
  box-shadow: 0 0 20px #c5c5c5;
  font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
  align-content: flex-start;
  justify-content: right;
}

div header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  

  padding: 28px;
}

div h1 {
  margin-top: 0;
  font-size: 2.2rem;
  text-align: left;
  color: aliceblue;
}

div a {
  margin-top: 0;

  font-size: 1.6rem;
  color: white;
  text-decoration: none;  
  text-align: right;
}

label {
  font-size: 2.2rem;
  color: aliceblue;

  display: block;
}

label input {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid gray;
}

button {
  width: 100px;
  height: 30px;

  margin: 20px 0;

  background: aliceblue;
  border: none;
  border-radius: 4px;

  color: rgb(12, 6, 7);
  font-weight: 700;
  font-size: 1.2rem;
  text-decoration: none;

  cursor: pointer;

}

button:hover {
  background-color: #0984;
  color: white;
  transition: 0.3s;
}

/*lista de pagamentos*/
#pag {
  
}

#pag {

}

@media (max-width: 700px) {
  body {
    font-size: 50%;
  }

  div header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div header a {
    order: -1;
    margin-bottom: 12px;
  }

  div header h1 {
    text-align: center;
  }

}